.btn {
    width: 17%;
    color: $negro !important;
    background-color: $blanco !important;
    padding: 1rem;
    font-weight: bold !important;
}
.center {
    text-align: center;
    padding-top: 9rem ;
}